force-app/main/default/flows/Items_to_Approve.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Delete_Approval_Process</name>
        <label>Delete Approval Process</label>
        <locationX>251</locationX>
        <locationY>100</locationY>
        <actionName>DeleteApprovalProcess</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>Account.ap1</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Process_Instance_Steps</name>
        <label>Get Process Instance Steps</label>
        <locationX>198</locationX>
        <locationY>280</locationY>
        <actionName>GetProcessInstanceSteps</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>consoleScreen1</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <interviewLabel>Items to Approve {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Items to Approve</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>consoleScreen1</name>
        <label>Display Results Itemsto Approve</label>
        <locationX>388</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>items</name>
            <extensionName>c:itemsToApproveTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workItemData</name>
                <value>
                    <elementReference>Get_Process_Instance_Steps.stepData</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>consoleScreen1_0</name>
        <label>Display Results</label>
        <locationX>385</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispWorkItems_0</name>
            <fieldText>&lt;p&gt;Work Items are: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Process_Instance_Steps.curWorkItems}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatable</name>
            <extensionName>c:datatableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>foo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyfield</name>
                <value>
                    <stringValue>bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <stringValue>baz</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>91</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Get_Process_Instance_Steps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
